.line{
    width: 60px;
    height: 4px;
    background: #F38181;
}
a{
    color: rgb(51, 172, 97);
    text-decoration:none ;
}
.button{
    background-color:#95E1D3 ;
    border: none;
    padding: 12px 38px;
    color: white;
    cursor: pointer;
}
.input{
    color: lightslategray;
    padding: 12px 10px;
    width: 230;
}
.title{
    font-weight: 400;
    font-size: 24px;
}
.text{
    font-weight: 700;
    font-size: 30px;
}