body{
    background-color: bisque;
}

/* ---------------------------------------------:hover --------------------------------------------*/
/* .link {
    color: teal;
}
.link:hover {
    color: tomato;
} */

/* -----------------------------------:focus     КОМБІНУЄМО-----------------------------------------*/
/* .social-links .link {
    color: teal;
}

.social-links .link:focus {
    color: orange;
} */

/* -------------------------------------:active---------------------------------------------------- */
/* .social-links .link {
    color: teal;
}

.social-links .link:hover,
.social-links .link:focus {
    color: orange;
}

.social-links .link:active {
    color: red;
} */

/* --------------------------------------:visited--------------------------------------------------- */
/* .social .item {
    color: teal;
}
.social .item:hover,
.social .item:focus {
    color: orange;
}
.social .item:active {
    color: red;
}
.social .item:visited {
    color: green;
} */



/* ---------------------------------------:last-child---------------------------------------------------- */
.list{
    list-style: none;
    display: flex;
}

.list-item {
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgb(60, 60, 60);
    text-align: center;
    justify-content: center;
    margin: 5px;
}

/* .list-item:first-child {
    background-color: orange;
} */

/* .list-item:last-child {
    background-color: orange;
}  */

/* .list-item:nth-child(5) {
    background-color: orange;
} */

/* .list-item:nth-child(2n) {
    background-color: orange;
} */

/* .list-item:nth-child(2n + 1) {
    background-color: orange;
} */
/*------------------------- Аналогічно, використовуючи псевдонім -------------------------------------*/
/* .list-item:nth-child(odd) {
    background-color: orange;
} */

/* .list-item:nth-child(n + 6) {
    background-color: orange;
} */

/* .list-item:nth-child(-n + 5) {
    background-color: orange;
} */

/* .list-item:nth-child(3n + 1) {
    background-color: orange;
} */

/* .list-item:nth-last-child(3) {
    background-color: orange;
} */

/* .list-item:nth-last-child(-n + 3) {
    background-color: orange;
} */