/* .box{
    width: 300px;
    height: 250px;
    background-image: url(./img/2.png);
}
@media(min-device-pixel-ratio:2),
(min-resolution:192dpi),
(min-resolution:2dppx)
{
    .box{
        background-image: url(./img/2@2x.png);
    }
} */