 body{
    text-align: center;
    margin: 50px;
    padding: 20px;
    background-color: rgb(218, 235, 251);
}
/*.container{
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
h1{
    margin-bottom: 20px;
}
#stopwatch-display{
    font-size: 50px;
    margin: 20px 0;
}
button{
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    background-color: rgb(73, 73, 222);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
button:hover{
    background-color: rgb(64, 64, 220);
}
button.hidden{
    display: none;
} */

.timer{
    margin: 20px auto;
    border: 1px solid rgb(2, 2, 130);
    background-color: skyblue;
    border-radius: 10px;
    padding: 35px;
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
}

.box{
    width: 100px;
    height: 100px;
    background-image: url('./3.png');
    background-size: cover;
    margin: 0 auto;
    transition: transform 0.5s ease;
}