/* .btn{
    background-color: rgb(5, 5, 131);
    color: wheat;
    padding: 15px 30px;
    border:none;
    border-radius: 30px;
    cursor: pointer;
} */

.color-button{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: fuchsia;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}