.btn{
    background-color: rgb(0, 119, 255);
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(0, 89, 191);
}
.btn:disabled{
    cursor: not-allowed;
    background-color: lightgrey;
}
.form-input:checked{
    border: 2px solid red;
} 
.form-input:checked + .form-label{
    color: red;
    text-decoration: underline;
}