.line{
    width: 60px;
    height: 4px;
    background: #f38181;
    border-radius: 20px;
}
header{
    color: #95E1D3;
}
.button1{
    background-color: #95E1D3;
    border: none;
    padding: 14px 38px;
    color: white;
    cursor: pointer;
}
.email1{
    color: #B6B6B6;
    padding: 12px 10px;
    width: 230px;
}
.text{
    font-weight: 400;
    font-size: 24px;
}
.title{
    font-weight: 700;
    font-size: 30px;
}