#parent,
#child,
#des{
    margin: 18px;
    padding: 18px;
    border: 4px solid black;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}
#parent{
    background-color: rgb(96, 1, 131);
}
#child{
    background-color: rgb(72, 157, 191);
}
#des{
    background-color: orange;
}

.box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 300px;
    padding: 8px;
    border: 1px solid black;
}