/* #parent,
#child,
#des{
    margin: 18px;
    padding: 18px;
    border: 4px solid black;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}
#parent{
    background-color: rgb(96, 1, 131);
}
#child{
    background-color: rgb(72, 157, 191);
}
#des{
    background-color: orange;
}

.box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 300px;
    padding: 8px;
    border: 1px solid black;
} */
/* 
.output{
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}

.color-palette{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 900px;
}
.color-palette .item{
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 250ms ease;
}
.color-palette .item:hover{
transform: scale(1.1);
} */

ul{
    list-style: none;
    padding: 20px;
}
li{
    padding: 10px 20px;
    background-color: antiquewhite;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.complateTask{
    cursor: pointer;
}
.deleteTask{
    cursor: pointer;
}